* {
  background-color: rgb(255, 255, 255);
  /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
}

/* Closet Form */
.closetForm {
  text-align: center;
  padding: 60px;
  margin-bottom: 60px;
}
.closetForm button {
  border-radius: 10px;
  /* padding: 10px; */
  margin-top: 10px;
  width: 200px;
  text-decoration: none;
}

.closetForm div {
  margin-top: 10px;
}

.Outfits {
  text-align: center;
}

.Outfits h3 {
  font-size: 35px;
  font-weight: 200;
}

.InputBox {
  font-family: Arial, Helvetica, sans-serif;
}

.closet {
  border: 0.5px solid black;
}
h1 {
  font-size: 65px;
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  padding-top: 50px;
}

input {
  border-radius: 10px;
  padding: 6px 10px;
  outline-color: rgb(84 105 212 / 0.5);
}
select {
  border-radius: 10px;
  padding: 6px 10px;
}

ul {
  display: inline-block;
  list-style: none;
}
/* button */
button {
  align-items: center;
  appearance: none;
  background-color: #e19bc1;
  border-radius: 4px;
  border-width: 0;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #19191e 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 38px;
  margin-right: 10px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition:
    box-shadow 0.15s,
    transform 0.15s;
  font-size: 15px;
}

button:focus {
  box-shadow:
    #e0c0cf 0 0 0 1.5px inset,
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
}

button:hover {
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #000000 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
  text-decoration: none;
}
a {
  text-decoration: none;
  background-color: transparent;
  color: #000000;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(115, 115, 154);
  text-decoration: none;
}
a:active {
  color: rgb(9, 8, 8);
  text-decoration: none;
}

/* login form */
h3 {
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  font-size: 30px;
}
.loginForm {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.loginForm input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 0.5rem;
  box-sizing: border-box;
}

.loginForm button {
  display: block;
  padding: 12px;
  margin-top: 15px;
  width: 100%;
}

.Login p {
  text-align: center;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Signup form */
.Signup,
.Login h4 {
  text-align: center;
  font-style: italic;
}
.Signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signupForm button {
  display: block;
  padding: 12px;
  margin-top: 15px;
  width: 100%;
}

.signupForm input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 0.5rem;
  box-sizing: border-box;
}
.Signup p {
  text-align: center;
  text-decoration: underline;
}
.signupForm {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
#error {
  color: red;
  text-decoration: none;
}
/* logout */

.logout {
  position: fixed;
  top: 20px;
  right: 20px;

}
